.vscode/
.idea/

##############################################
# Enviroment / Secrets
##############################################
.env
*.key
*.pem


##############################################
# Java / Spring
##############################################
*.class
*.gradle/
build/


##############################################
# React / NodeJs
##############################################
node_modules/


##############################################
# Package files
##############################################
*.jar
*.war
*.ear