/* ============== 사이드 영역  ================ */
.top-area {
  flex: 1;
  overflow: hidden;
}

/* 상단 여행 박스 */
.trip-box {
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 2px solid #c4c4c4;
  margin: 20px 20px 20px 0px;
  padding: 30px;
}

.trip-info {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.trip-name {
  display: flex;
  justify-content: start;
  font-weight: 700;
  font-size: 20px;
}

/* Menu */
.trip-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
  padding-bottom: 200px;
}

.trip-item {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 60px; 
  padding-left: 30px;
  padding-right: 50px;
  margin-bottom: 10px;
  color: #aaa;
  cursor: pointer;
}

/* 화살표 */
.trip-item.active {
  position: relative;
  background: #555555;
  color: #ffffff;
  font-weight: 700;
  clip-path: polygon(
    0 0,
    calc(100% - 20px) 0,
    100% 50%,
    calc(100% - 20px) 100%,
    0 100%
  );
}

.menu-text {
  font-size: 15px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
  word-break: break-word;
  flex: 1;
}

/* 하단 추가 박스(저장량 및 휴지통)  */
.menu-extra {
  width: 100%;
  padding: 16px 16px 50px 16px;
  position: absolute;
  bottom: 0;
}

/* 저장 표시 */
.menu-extra-button-fill {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  background: #aaa;
  z-index: 0;
  border-radius: 6px;
}

.menu-extra-button-fill-trash {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  background: #FF2400;
  z-index: 0;
  border-radius: 6px;
}

.menu-extra-button-position {
  position: absolute;
  top: 50%;
  left: 12px;
  display: flex;
  transform: translateY(-50%);
  align-items: center;
  display: flex;
  gap: 10px;
  z-index: 1;
  color: #3a3a3a;
}

.menu-extra-text {
  font-size: 14px;
  margin-bottom: 8px;
}

/* ============== 콘텐츠 영역  ================ */
/* ===== 내 여행 계획 화면  ===== */
/* 콘텐츠 상단 표시 */
.trip-content-space {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  width: 100%;
  padding-bottom: 15px;
  margin-bottom: 20px;
  border-bottom: 2px solid #c4c4c4;
}

.trip-content-header {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 15px;
  padding-left: 20px;
  min-width: 0;
}

.trip-content-header__title {
  font-size: 18px;
  font-weight: 600;
  white-space: nowrap;     
  overflow: hidden;    
  text-overflow: ellipsis; 
  min-width: 0;
}

.trip-content-header_button {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 20px;
  padding-top: 0;
}

/* == 북마크 == */
/* 북마크 상단 표시 */
.bookmark_head .ant-card-head{
  min-height: 40px;
  padding: 0 15px;
  background: #ffffff;
  border-bottom: 1px solid #c4c4c4;
  padding-left: 20px;
  padding-right: 20px;
  gap: 10px;
}

.bookmark-extra-text{
  display: flex;
  justify-content: center;
  height: 25px;
  width: 40px;
  font-size: 15px;
  border: 1px solid #555555;
  border-radius: 8px;
}

.bookmark-card-colors {
  width: 20px;
  height: 20px;
  padding: 0 !important;
  border-radius: 6px; 
  margin-left: 3px;
  border: none !important;
}

.bookmark-card-colors:hover {
  box-shadow: 0 0 0 2px white !important;
}

.bookmark-card-colors:active {
  box-shadow: 0 0 0 2px white !important;
}

/* 북마크 내용 */
.bookmark-list {
  display: flex;
  gap: 8px;
  overflow-y: hidden;
  align-items: flex-start;
  padding-bottom: 10px;
  padding: 10px 10px 10px 10px;
  height: 190px;
}


/* == 여행 계획표 == */
/* 여행 계획표 상단 표시 */
.schedule_head .ant-card-head{
  min-height: 40px;
  padding: 0 15px;
  background: #ffffff;
  border-bottom: 1px solid #c4c4c4;
  padding-left: 20px;
  padding-right: 20px;
  gap: 10px;
}
/* 여행 계획표 내용 */
.schedule-container {     
  overflow-x: auto;  
}

.schedule-day-card {
  background: #fff;
  border: 1px solid #c4c4c4;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.5);
  padding: 16px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.schedule-day-card.dimmed {
  opacity: 0.5;
  filter: grayscale(80%);
}

.schedule-table {
  overflow-x: auto;
  border: 1px solid #c4c4c4;
  border-radius: 6px;
}

/* 날짜 */
.schedule-day-header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 16px;
  flex-shrink: 0;
}

.day-badge {
  background: #c4c4c4;
  color: #fff;
  font-weight: 600;
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 13px;
}

.day-date {
  font-size: 15px;
  font-weight: 500;
  color: #555555;
}

/* 스케줄 목록 */
.schedule-table-header, 
.schedule-table-row {
  display: grid;
  grid-template-columns: 20fr 70fr 70fr 60fr 250fr 350fr 70fr 30fr;
  gap: 10px;
  padding: 5px 15px 5px 15px;
  min-width: 1000px;
  font-weight: 500;
}

.schedule-table-header div, 
.schedule-table-row div{
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 10px;
}

.schedule-table-header {
  font-weight: 600;
  border-bottom: 2px solid #c4c4c4;
  background: #555555;
  color: #ffffff;
  position: sticky;
  top: 0;
  z-index: 2;
}

.schedule-table-body .schedule-table-row {
  border-bottom: 2px solid #fafafa;
}

.schedule-table-body .schedule-table-row:last-child {
  border-bottom: none;
}

/* 링크 */
.link-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.link-icon.active {
  color: #555555;
  cursor: pointer;
  transition: 0.2s;
}

.link-icon.active:hover {
  transform: scale(1.15);
}

.link-icon.disabled {
  color: #aaa;
  cursor: default;
}

/* 스케줄 정리표 */
.schedule-summary-sticky {
  position: sticky;
  bottom: 0;
  height: 45px;
  background: #f3f3f3;
  border: 1px solid #a0a0a0;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  z-index: 10;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.summary-left {
  font-size: 15px;
  font-weight: 600;
}

.summary-right {
  display: flex;
  gap: 30px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
  font-weight: 600;
}

.summary-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.summary-value {
  display: flex;
  justify-content: center;
  padding: 4px 10px;
  border-radius: 6px;
  background: #ffffff;
  color: #555555;
  box-shadow: -1px -1px 2px rgba(0,0,0,0.5);
  font-weight: 500;
}

/* == 휴지통 목록 == */
/* 휴지통 목록 상단 */
.trash-header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.trash-header-right {
  display: flex;
  align-items: center;
  gap: 2px;
  padding: 0px 10px;
}

/* 휴지통 목록 내용 */
.trash-container {      
  overflow-x: auto; 
  overflow-y: auto;
  border-bottom: 2px solid #c4c4c4;
}

.trash-table-header, 
.trash-table-row {
  display: grid;
  grid-template-columns: 100fr 70fr 20fr 20fr 30fr 30fr 20fr 20fr;
  gap: 10px;
  padding: 5px 15px 5px 15px;
  min-width: 1000px;
  font-weight: 500;
}

.trash-table-row {
  min-height: 60px;
}

.trash-table-header div, 
.trash-table-row div{
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 10px;
}

.trash-table-header {
  font-size: 15px;
  font-weight: 600;
  border-radius: 8px;
  background: #555555;
  color: #ffffff;
  position: sticky;
  top: 0;
  z-index: 2;
}

.trash-table-body .trash-table-row {
  border-bottom: 2px solid #c4c4c4;
}

.trash-table-body .trash-table-row:last-child {
  border-bottom: none;
}

/* ============== PDF  ================ */
.pdf-mode * {
  box-shadow: none !important;
}